@keyframes slide {
    from {
        top: 0;
    }

    50% {
        top: 1px;
    }

    to {
        top: 2px;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated {
    animation: slide 0.25s step-start infinite;
}
